.large {

    font-size: 100px;
    color: rgb(109, 34, 73);
    padding: 50px;
}

.small {
    font-size: 25px;
    border: 1px solid black;
    color: cyan;
    padding: 20px;
}

.medium {
    font-size: 50px;
    color: rgb(26, 17, 108);
    padding: 20px;
}