// --btn-color: #FF553E;

//btn
.btn {
    padding: 1rem 2rem;
    color: var(--primary-inverted-text-color);
    background: var(--btn-color);
    border-radius: 2.125rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 1.125rem;
    white-space: nowrap;
    transition: 0.2s ease all;


    &:hover {
        cursor: pointer;
        box-shadow: 0.125rem 0.125rem 0.3125rem rgba($color: #000000, $alpha: 0.4);
    }
}

.btn.btn-inverted {
    color: var(--secondary-inverted-text-color);
    background: var(--secondary-btn-color);
}

.btn.btn-header {
    padding: 1.5rem 2.5rem;
}