.features {
    background:
        url('../../assets/Images/Feature/feature-bg.svg')top 0 left 0/100%,
    ;
    position: relative;
    background-color: transparent;
    padding-top: 94px;
    margin-top: -182px;

    @media screen and (max-width: 1050px) {}

    @media screen and (max-width: 760px) {}

    @media screen and (max-width: 480px) {
        padding-top: 0;
        background:
            url('../../assets/Images/Feature/feature-rocket.png')bottom 61% left -22px/25% no-repeat,
            url('../../assets/Images/Feature/feature-bg.svg')top 0 left 0/150%;
    }

    &__body {
        padding-bottom: 77px;
    }

    &__stats-row {
        display: flex;
        gap: 181px;
        padding: 0 0 223px 80px;

        @media screen and (max-width: 1050px) {
            gap: 151px;
            padding: 0 0 173px 60px;
        }

        @media screen and (max-width: 760px) {
            gap: 80px;
            padding: 0 0 103px 10px;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    &__stats-row-mobile {
        display: none;

        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__stats-mobile {
        position: relative;
        padding: 48px 5px 48px 0px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 22%;
            width: 53.5%;
            border-bottom: 1px solid black;
            border-color: rgba(30, 12, 62, 0.2);
        }

        &:last-child {
            &::after {
                content: '';
                width: 0%;
            }
        }
    }

    &__stats {
        &:last-child {
            margin-left: 12px;
        }
    }

    &__title-container {
        background: url('../../assets/Shapes/thick.svg') bottom 10.2% left 58.3% no-repeat;

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    &__title-container-mobile {
        display: none;

        @media screen and (max-width: 480px) {
            padding-top: 32px;
            display: block;
        }
    }

    &__text {
        padding: 20px 259px 64px 255px;
        position: relative;

        &::before {
            content: '';
            width: 197px;
            height: 183px;
            position: absolute;
            top: -57%;
            right: -2.5%;
            background: url('../../assets/Images/Feature/feature-rocket.png') no-repeat;
            background-size: 100%;

        }


        @media screen and (max-width: 1050px) {
            padding: 20px 139px 64px 135px;

            &::before {
                content: '';
                width: 137px;
                height: 123px;
                top: -5%;
                right: -2.5%;
                background-size: 80%;
            }
        }

        @media screen and (max-width: 760px) {
            padding: 20px 69px 34px 65px;

            &::before {
                background-size: 0;
            }
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    &__text-mobile {
        display: none;

        @media screen and (max-width: 480px) {
            display: block;
            margin-top: 14px;
            margin-bottom: 28px;
        }
    }

    &__card-row {
        display: flex;
        gap: 31px;

        @media screen and (max-width: 1050px) {
            display: none;
            gap: 11px;
        }

        @media screen and (max-width: 760px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 0 50px 0 50px;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    &__card-row-mobile {
        display: none;
        gap: 20px;
        margin-right: -3px;
        margin-left: -3px;

        @media screen and (max-width: 1050px) {
            display: flex;
            gap: 11px;
        }

        @media screen and (max-width: 760px) {
            display: none;
        }

        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
        }
    }
}