.stat {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__count {
        font-family: var(--secondary-font);
        font-weight: 600;
        color: var(--primary-title-color);
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 10px;
    }

    &__name {
        font-size: 1.125rem;
        line-height: 1.125rem;
    }
}

.stat__last_element {
    margin-left: 12px;
}