@import './assets/reset.css';

body.no-scroll {
    overflow: hidden;
}

.App {
    font-family: var(--base-font);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}