@import './assets/reset.css';

body.no-scroll {
    overflow: hidden;
}

.App {
    font-family: var(--base-font);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg-color);
}

.container {
    width: 100%;
    padding: 0 10px;
    max-width: 1190px;

    @media screen and (max-width: 1050px) {
        max-width: 970px;
    }

    @media screen and (max-width: 760px) {
        max-width: 640px;
    }

    @media screen and (max-width: 480px) {
        max-width: 327px;
    }
}